<header class="overflow-hidden bg-[#14213d] py-4 px-20 shadow-md">
  <div class="flex justify-between items-center max-w-7xl mx-auto">
    <img routerLink="/" src="assets/icon/docscript.png" class="h-fit w-[200px]" alt="logo">
    <div class="flex justify-end space-x-4 text-[#fca311]">
<!--      <a class="active:text-yellow-50 hover:text-yellow-600 font-bold text-lg" routerLink="tutorial/javascript">Tutorial</a>-->
      <a class="active:text-yellow-50 hover:text-yellow-600 font-bold text-lg" routerLink="article">Article</a>
      <a class="active:text-yellow-50 hover:text-yellow-600 font-bold text-lg" routerLink="write">Write</a>
    </div>
  </div>
</header>
