<header class="bg-white overflow-hidden py-4 px-4">
  <div class="flex justify-between">
    <a href="#default" class="font-bold text-lg">CompanyLogo</a>
    <div class="flex justify-end">
      <a class="active:bg-blue-500 hover:bg-gray-400 font-bold text-lg" href="#home">Home</a>
      <a class="active:bg-blue-500 hover:bg-gray-400 font-bold text-lg" href="#contact">Contact</a>
      <a class="active:bg-blue-500 hover:bg-gray-400 font-bold text-lg" href="#about">About</a>
    </div>
  </div>
</header>
