<div class="bg-[#14213d]">
  <div class="mx-auto w-[960px] xl:w-[1208px] 2xl:w-[1208px]">
    <h1
      class="font-Source text-white text-center font-bold text-[6rem] md:text-[8rem] lg:text-[10rem] xl:text-[12rem] 2xl:text-[12rem]">
      THE ARTICLE</h1>
    <div class="grid grid-cols-2 mx-20 pb-10">
      <div class="flex flex-col px-6 w-full">
        <img class="rounded-md" src="https://www.petanikode.com/img/cover/tailwind.png" alt="example">
        <h2 class="font-roboto text-left text-white font-bold text-2xl font-bold capitalize pt-2">BELAJAR TAILWIND</h2>
        <p class="font-Source text-gray-500 font-thin text-left">Janiari 21, 2023. Sunandi</p>
        <p class="font-Source text-white font-normal text-left">Tailwind CSS merupakan framework CSS yang berbasis
          utility untuk membuat UI atau tampilan dari aplikasi web.
          Berbasis utility artinya Tailwind cuma terdiri dari 100% utility class dan nggak ada class komponen seperti
          Navbar, Button, Card, Modal, dll. Komponen-komponen ini kita buat sendiri dengan class utility.</p>

      </div>
      <div class="flex flex-col px-6 space-y-4 w-full">
        <a class="flex flex-row cursor-pointer">
          <img class="w-[13rem] h-[8rem] rounded-md  mr-4" src="https://www.petanikode.com/img/cover/tailwind.png"
               alt="course-javascript">
          <div class="flex flex-col">
            <h2 class="font-roboto text-left text-white font-bold text-xl font-bold capitalize">BELAJAR TAILWIND</h2>
            <p class="font-Source text-left text-gray-300 font-thin text-md">tinya Tailwind cuma terdiri dari 100%
              utility class dan nggak ada class komponen seperti
              Navbar, Button, Card, Modal, dll.</p>
            <p class="font-Source text-gray-500 font-thin text-left">Janiari 21, 2023</p>
          </div>
        </a>
        <hr>
        <a class="flex flex-row cursor-pointer">
          <img class="w-[13rem] h-[8rem] rounded-md mr-4" src="https://www.petanikode.com/img/cover/tailwind.png"
               alt="course-javascript">
          <div class="flex flex-col">
            <h2 class="font-roboto text-left text-white font-bold text-xl font-bold capitalize">BELAJAR TAILWIND</h2>
            <p class="font-Source text-left text-gray-300 font-thin text-md">tinya Tailwind cuma terdiri dari 100%
              utility class dan nggak ada class komponen seperti
              Navbar, Button, Card, Modal, dll.</p>
            <p class="font-Source text-gray-500 font-thin text-left">Janiari 21, 2023</p>
          </div>
        </a>
        <hr>
        <a class="flex flex-row cursor-pointer">
          <img class="w-[13rem] h-[8rem] rounded-md mr-4" src="https://www.petanikode.com/img/cover/tailwind.png"
               alt="course-javascript">
          <div class="flex flex-col">
            <h2 class="font-roboto text-left text-white font-bold text-xl font-bold capitalize">BELAJAR TAILWIND</h2>
            <p class="font-Source text-left text-gray-300 font-thin text-md">tinya Tailwind cuma terdiri dari 100%
              utility class dan nggak ada class komponen seperti
              Navbar, Button, Card, Modal, dll.</p>
            <p class="font-Source text-gray-500 font-thin text-left">Janiari 21, 2023</p>
          </div>
        </a>
      </div>
    </div>
    <hr>
    <div class="py-10">
      <div class="mx-20">
        <div class="grid grid-cols-4 gap-5">
          <div class="flex flex-col">
            <img class="w-full rounded-md" src="https://www.petanikode.com/img/cover/tailwind.png" alt="example">
            <h2 class="font-roboto text-left text-white font-bold text-xl font-bold capitalize pt-2">BELAJAR TAILWIND</h2>
            <p class="font-Source text-gray-500 font-thin text-left">Janiari 21, 2023</p>
            <p class="font-Source text-white font-normal text-left">Tailwind CSS merupakan framework CSS yang berbasis
              utility untuk membuat UI atau tampilan dari aplikasi web.
              Berbasis utility artinya Tailwind.</p>
          </div>
          <div class="flex flex-col">
            <img class="w-full rounded-md" src="https://www.petanikode.com/img/cover/tailwind.png" alt="example">
            <h2 class="font-roboto text-left text-white font-bold text-xl font-bold capitalize pt-2">BELAJAR TAILWIND</h2>
            <p class="font-Source text-gray-500 font-thin text-left">Janiari 21, 2023</p>
            <p class="font-Source text-white font-normal text-left">Tailwind CSS merupakan framework CSS yang berbasis
              utility untuk membuat UI atau tampilan dari aplikasi web.
              Berbasis utility artinya Tailwind.</p>
          </div>
          <div class="flex flex-col">
            <img class="w-full rounded-md" src="https://www.petanikode.com/img/cover/tailwind.png" alt="example">
            <h2 class="font-roboto text-left text-white font-bold text-xl font-bold capitalize pt-2">BELAJAR TAILWIND</h2>
            <p class="font-Source text-gray-500 font-thin text-left">Janiari 21, 2023</p>
            <p class="font-Source text-white font-normal text-left">Tailwind CSS merupakan framework CSS yang berbasis
              utility untuk membuat UI atau tampilan dari aplikasi web.
              Berbasis utility artinya Tailwind.</p>
          </div>
          <div class="flex flex-col">
            <img class="w-full rounded-md" src="https://www.petanikode.com/img/cover/tailwind.png" alt="example">
            <h2 class="font-roboto text-left text-white font-bold text-xl font-bold capitalize pt-2">BELAJAR TAILWIND</h2>
            <p class="font-Source text-gray-500 font-thin text-left">Janiari 21, 2023</p>
            <p class="font-Source text-white font-normal text-left">Tailwind CSS merupakan framework CSS yang berbasis
              utility untuk membuat UI atau tampilan dari aplikasi web.
              Berbasis utility artinya Tailwind.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
