<footer class="bg-gray-300 overflow-hidden py-4 absolute bottom-0 w w-full">
    <div class="flex justify-between mx-20">
        <div class="flex justify-start space-x-4">
            <a>
                <p class="text-lg font-roboto text-gray-700 text-normal">Privacy</p>
            </a>
            <a>
                <p class="text-lg font-roboto text-gray-700 text-normal">Term & Conditions</p>
            </a>
        </div>
        <div class="flex justify-end space-x-4">
            <a>
                <img src="assets/icon/instagram.svg" alt="instagram">
             </a>
             <a>
                 <img src="assets/icon/facebook.svg" alt="facebook">
             </a>
             <a>
                 <img src="assets/icon/twitter.svg" alt="twitter">
             </a>
        </div>
    </div>
    <p class="text-lg font-roboto text-gray-700 text-normal text-center">Dibuat dengan ♥ © Copyright 2023 All right reserverd.</p>
</footer>
