<footer class="bg-gray-300 py-4">
    <div class="flex justify-between">
        <div class="flex justify-start">
            <a>
                <p class="text-lg font-roboto text-gray-700 text-normal">Privacy</p>
            </a>
            <a>
                <p class="text-lg font-roboto text-gray-700 text-normal">Term & Conditions</p>
            </a>
        </div>
        <div class="flex justify-end">
            <a>
                <img src="../../../assets/icon/instagram.svg" alt="instagram">
             </a>
             <a>
                 <img src="../../../assets/icon/facebook.svg" alt="facebook">
             </a>
        </div>
    </div>
    <p class="text-lg font-roboto text-gray-700 text-normal text-center">Dibuat dengan ♥ © Copyright 2023 All right reserverd.</p>
</footer>
